<div class="container-fluid d-block d-lg-none">
  <div class="row">
    <div class="col-12 p-0">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row h-100">
                <div class="col-12 mt-auto">
                  <h2 class="text-center">
                    <span class="title-green">
                      Nuestros
                    </span>
                    <br>
                    <span class="title-red">
                      10 principios
                    </span>
                  </h2>
                  <p class="description text-center">
                    Nuestros productos conservan el 100% de
                    los nutrientes de la fruta, contienen fibra dietética y saborizantes
                    naturales. Son perfectos para quienes llevan un estilo de
                    vida activo y saludable, que tienen poco tiempo y buscan sacar el mayor provecho
                    a su alimentación. Nuestros productos vienen en una variedad de formas y en empaques
                    biodegradables de distintos tamaños para disfrutarlos en casa como un snack; topping en
                    helados, en ensaladas, avena o grano e incluso como un perfect match para los drinks.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Accordion Item #1
            </button>
          </h2>
        </div>
        <div class="accordion-item">
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Accordion Item #2
            </button>
          </h2>
        </div>
        <div class="accordion-item">
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Accordion Item #3
            </button>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Accordion Mobile",
  "class": "accordion-mobile",
  "settings": [

  ],
  "presets": [
    {
      "name": "Accordion Mobile",
      "category": "Images"
    }
]
}
{% endschema %}
