@font-face {
  font-family: 'BasierSquareMono Regular';
  src: url(' //cdn.shopify.com/s/files/1/0580/1695/6589/t/20/assets/basiersquaremono-regular.otf?v=132325989105427746151669316918 ');
    font-weight: normal;
    font-style: normal;  
    font-display: swap;
    } 
@font-face {
  font-family: 'Presicav';
  src: url(' //cdn.shopify.com/s/files/1/0580/1695/6589/t/20/assets/presicav-rg.otf?v=31630767329240936961669316988 ');
    font-weight: normal;
    font-style: normal;  
    font-display: swap;
    }
@font-face {
  font-family: 'Darwin Ess Rd';
  src: url(' //cdn.shopify.com/s/files/1/0580/1695/6589/t/20/assets/Darwin-Ess-Rd.otf?v=183670308835058120421669316933 ');
    font-weight: normal;
    font-style: normal;  
    font-display: swap;
    }
@font-face {
  font-family: 'Darwin Ess Rd Bold';
  src: url(' //cdn.shopify.com/s/files/1/0580/1695/6589/t/20/assets/Darwin-Ess-Rd-Bold.otf?v=137730446071540186701669316932 ');
    font-weight: normal;
    font-style: normal;  
    font-display: swap;
    }
@font-face {
  font-family: 'Tungsten Bold';
  src: url(' //cdn.shopify.com/s/files/1/0580/1695/6589/t/20/assets/Tungsten-Bold.otf?v=146588642372535659931669317006 ');
    font-weight: normal;
    font-style: normal;  
    font-display: swap;
    }
@font-face {
  font-family: 'Tungsten Semibold';
  src: url(' //cdn.shopify.com/s/files/1/0580/1695/6589/t/20/assets/Tungsten-SemiBold.ttf?v=54339930390199573041669317007 ');
    font-weight: normal;
    font-style: normal;  
    font-display: swap;
    }
@font-face {
  font-family: 'Darwin Ess Rd Black';
  src: url(' //cdn.shopify.com/s/files/1/0580/1695/6589/t/20/assets/Darwin-Ess-Rd-Black.otf?v=137730446071540186701669316932 ');
    font-weight: normal;
    font-style: normal;  
    font-display: swap;
    }
@font-face {
  font-family: 'Proxima Nova';
  src: url(' //cdn.shopify.com/s/files/1/0580/1695/6589/t/20/assets/ProximaNova-Reg.otf?v=173843304794007442521669316990 ');
    font-weight: normal;
    font-style: normal;  
    font-display: swap;
    }
html{
  padding-bottom: 0px !important; 
}
body{
  padding: 15px 0px;
  @media(min-width: 992px){
    padding-bottom: 0px;
  }
}
.content-cintillo-header{
  padding: 0 12px;
  .content-cintillo-loop{
    font-family: 'Darwin Ess Rd Black';
    font-size: 49px;
    line-height: 59.33px;
    color: #FFFFFF;
    @media(min-width: 768px){
      font-size: 49px;
      line-height: 59.33px;
    }
    @media(min-width: 992px){
      font-size: 49px;
      line-height: 59.33px;
    }
    .box-cintillo-loop{
      padding: 10px 0;
    }
  }
}
#articleBlog{
  padding: 20px 0px 0px !important;
  @media(min-width: 992px){
    padding: 0px !important;
  }
  .content-cintillo-loop{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 22px;
    @media(min-width: 992px){
      margin-top: 30px;
      margin-bottom: 0px;
    }
  }
}
.content-cintillo-loop{
  overflow: hidden !important;
}
.content-cintillo-loop-infografia{
  overflow: hidden !important;
}
.medium-down--show{
  display: block !important;
}
.template-blog, .template-article, .template-search{
  background: url('https://cdn.shopify.com/s/files/1/0501/8127/5807/files/bg-body.jpg?v=1621900982');
  background-size: cover;
  overflow-x: hidden;
  background-position: center;
  .box-date{
    border: 3px solid #333333; 
    border-bottom: 0px;
    padding: 5px 15px;
    .date{
      font-family: 'BasierSquareMono Regular';
      font-size: 13px;
      text-transform: uppercase;
      color: #000000;
    }
  }
  [data-image-loading-animation]{
    background-color: transparent !important;
  }
  .site-header__logo-image{
    img{
      padding: 15px;
    }
  }
  .search-bar{
    right: 27px;
  }
  .box-filters-cat-blog{
    padding: 0 12px;
    @media(min-width: 768px){
      padding: 0 12px;
    }
    @media(min-width: 992px){
      padding: 0 30px;
    }
  }
  .site-header{
    background-color: transparent;
    .grid{
      background-color: transparent;
      border: 3px solid #333333; 
      padding: 5px 15px;
    }
  }
  .main-content{
    padding: 0px;
    .box-title-header{
      background : #000000;
      font-family: 'Presicav';
      font-size: 13px;
      letter-spacing: 2.6px;
      text-transform: uppercase;
      color: #E8E8E8;
      padding: 8px;
      @media(min-width: 768px){
        font-size: 13px;
        letter-spacing: 2.6px;
      }
      @media(min-width: 992px){
        font-size: 13px;
        letter-spacing: 2.6px;
      }
    }
  }
  .content-full-width {
    .box-title-and-subtitle{
      height: auto;
      @media(min-width: 768px){
        height: auto;
      }
    }
  }
  .content-blog{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    .box-content-general-article{
      height: calc(100% - 50px);
      .box-padding-content{
        padding: 15px;
        @media(min-width: 768px){
          padding: 20px;
        }
      }
      .box-title-and-subtitle{
        height: auto;
        @media(min-width: 768px){
          height: auto;
        }
      }
    }
    .box-small-article{
      .article__grid-excerpt{
        width: 100% !important;
      }
    }
    .box-blog-container{
      border: 3px solid #333333; 
      .blog-box-row{
        padding: 0px 5px 0;
        @media(min-width: 768px){
          padding: 0px 20px 0;
        }
        @media(min-width: 992px){
          padding: 30px 20px 0;
        }
        .content-border{
          padding: 0px 15px 0px;
          .content-information-blog{
            border: 3px solid #333333;
            transition: background-color 0.5s ease;
            background-color: transparent;
            .header-note-blog{
              transition: background-color 0.5s ease;
              background-color: transparent;
              height: 50px;
              .header-note-blog-container{
                border-bottom: 3px solid #333333;
                padding: 10px 20px;
                @media(min-width: 768px){
                }
                @media(min-width: 992px){
                  padding: 10px 20px;
                }
                .article__tags{
                  a{
                    font-family: 'Darwin Ess Rd';
                    font-weight: bold;
                    border: none !important;
                    font-size: 20px;
                    text-transform : uppercase;
                    color: #FFF;
                    transition: all 0.5s;
                    text-decoration: none;
                    @media(min-width: 768px){
                      font-size: 20px;
                    }
                    @media(min-width: 992px){
                      font-size: 20px;
                    }
                    &:hover{
                      font-family: 'Darwin Ess Rd';
                      text-decoration: none;
                    }
                  }
                }
                .article__author{
                  font-family: 'Inconsolata';
                  border: none !important;
                  font-size: 13px;
                  color: #000000;
                  text-transform: uppercase;
                }
              }
            }
            .article__title{
              font-family: 'Darwin Ess Rd Black';
              font-size: 25px;
              line-height: 38px;
              text-transform: uppercase;
              color: #FFF;
              margin-bottom: 15px;
              @media(min-width: 768px){
                font-size: 33px;
                line-height: 50px;
                margin-bottom: 20px;
              }
              @media(min-width: 992px){
                font-size: 33px;
                line-height: 46px;
                margin-bottom: 20px;
              }
              @media(min-width: 1200px){
                font-size: 43px;
                margin-bottom: 20px;
                line-height: 52.67px;
              }
              a{
                color: #FFF;
              }
            }
            .article__grid-excerpt{
              font-family: 'Proxima Nova';
              font-size: 18px;
              color: #000000;
              @media(min-width: 768px){
                font-size: 18px;
              }
              @media(min-width: 992px){
                font-size: 18px;
              }
              @media(min-width: 1500px){
                font-size: 20px;
              }
              p{
                font-family: 'Proxima Nova';
                font-size: 18px;
                color: #000000;
                text-align: justify;
                @media(min-width: 768px){
                  font-size: 18px;
                }
                @media(min-width: 992px){
                  font-size: 18px;
                }
                @media(min-width: 1500px){
                  font-size: 20px;
                }
              }
            }
            .content-button{
              margin-top: 30px;
              .article__meta-buttons{
                .btn{
                  background: #000000;
                  font-family: 'Tungsten Bold';
                  font-size: 23px;
                  color: #FFF;
                  padding: 0px 20px;
                  border-radius: 0px;
                  -moz-border-radius: 0px;
                  -webkit-border-radius: 0px;
                  text-transform: uppercase;
                  letter-spacing: 1px;
                  @media(min-width: 768px){
                    font-size: 23px;
                  }
                  @media(min-width: 992px){
                    font-size: 23px;
                  }
                }
              }
            }
            .article__grid-image-wrapper{
              &:hover{
                &:before{
                  content: none;
                }
              }
              img{
                -o-object-fit: cover;
                object-fit: cover;
                object-position: center;
                height: 400px;

              }
            }
            .img-small{
              overflow: hidden;
              height: auto;
              @media(min-width: 992px){
                height: auto;
                margin-top: 3px !important;
              }
              .article__grid-image-wrapper{
                img{
                  -o-object-fit: cover;
                  object-fit: cover;
                  object-position: center;
                  height: auto;
                  @media(min-width: 992px){
                    height: 370px;
                  }
                }
              }
            }
          }
        }
      }
      .content-cintillo-loop{
        .box-cintillo-loop{
          background: #000;
          color: #FFF;
          .marquee {
            width: 100%;
            overflow: hidden;
            background: #000;
            font-size: 49px;
            line-height: 41.5px;
            font-family: 'Darwin Ess Rd Black';
            padding: 15px 0;
            @media(min-width: 768px){
              font-size: 59px;
              line-height: 51.5px;
              padding: 30px 0;
            }
            @media(min-width: 992px){
              font-size: 61px;
              line-height: 73.74px;
              padding: 20px 0;
            }
          }
        }
      }
      .banner-products-blog{
        min-height: 362px;
        @media(min-width: 768px){
          min-height: 362px;
        }
        @media(min-width: 992px){
          min-height: 100%;
        }
        .meta-button-blog{
          .title-banner{
            font-family: 'Tungsten Bold';
            font-size: 50px;
            line-height: 40px;
            text-transform: uppercase;
            color: #FFFFFF;
            @media(min-width: 768px){
              font-size: 80px;
              line-height: 83px;
            }
            @media(min-width: 992px){
              font-size: 80px;
              line-height: 83px;
            }
          }
          .content-button-banner{
            a{
              padding: 10px 20px;
              background: #000;
              font-family: 'Presicav';
              font-size: 10px;
              letter-spacing: 1.7px;
              text-transform: uppercase;
              color: #FFFFFF;
              text-decoration: none;
              @media(min-width: 768px){
                font-size: 17px;
                letter-spacing: 1.7px;
              }
              @media(min-width: 992px){
                font-size: 17px;
                letter-spacing: 1.7px;
              }
            }
          }
        }
      }
    }
    .content-newsletter{
      padding: 70px 10px;
    }
    .box-border-newsletter{
      border: 3px solid #333333; 
      padding: 15px;
      margin-bottom: 25px;
      .site-footer__newsletter{
        border: 3px dashed #333; 
        .text-newsletter-box{
          line-height: 65px;
          text-align: center;
          @media(min-width: 992px){
            text-align: left;
          }
          .title-newsletter{
            font-family: 'Tungsten Semibold';
            font-size: 68px;
            line-height: 58.64px;
            color: #000000;
            @media(min-width: 768px){
              font-size: 78px;
              line-height: 68.64px;
            }
            @media(min-width: 992px){
              font-size: 119px;
              line-height: 104.08px;
            }
          }
          .subtitle-newsletter{
            font-family: 'Darwin Ess Rd';
            font-size: 15px;
            line-height: 15px;
            color: #000000;
            @media(min-width: 768px){
              font-size: 25px;
              line-height: 25px;
            }
            @media(min-width: 992px){
              font-size: 38px;
            }
          }
        }
        form{
          .input-group__field{
            margin-bottom: 0px !important;
          }
        }
      }
    }
    .banner-products-blog{
      img{
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
    }
  }
  .box-tags-cat{
    border: 3px solid #333;
    border-bottom: 0px;
    .box-filters:last-child{
      border: none;
    }
    .box-filters{
      border-right: 3px solid #333;
      padding: 5px 15px;
      a{
        font-family: 'Darwin Ess Rd';
        font-weight : bold;
        font-size: 19px;
        color: #FFF;
        text-decoration: none;
        @media(min-width: 768px){
          font-size: 19px;
        }
        @media(min-width: 992px){
          font-size: 19px;
        }
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        &.Cuerpo{
          background: #56a150;
        }
        &.Espiritu{
          background: #b73a97;
        }
        &.Mente{
          background: #e38016;
        }
        a{
          color: #FFF;
        }
      }
    }
  }
  .search-box{
    position: absolute;
    width: auto;
    right: 67px;
    top: 38px;
  }
  .box-menu-blog-collapse{
    flex: 0 0 auto;
    width: 80px;
    @media (min-width: 576px){
      width: 125px;
    }
    @media(min-width: 768px){
      width: 125px;
    }
    @media(min-width: 992px){
      width: 142px;
    }
    .wrapper{
      @media (max-width: 575px){
        padding: 0 !important;
      }
    }
  }
  .box-menu-blog-collapse{
    .nav-bar{
      border: 3px solid #333;
      border-bottom: 0;
      background-color: transparent;
    }
  }
  .content-box-logo-center{
    width: calc(100% - 152px);
    padding-right: 0px;
    @media (min-width: 576px){
      width: calc(100% - 235px);
    }
    @media(min-width: 768px){
      width: calc(100% - 235px);
    }
    @media(min-width: 992px){
      width: 100%;
      padding-right: 12px;
    }
  }
  .search-mobile-collapse{
    .content-box{
      border: 3px dashed #333;
      margin: 0px 0 20px;
      padding: 25px 0;
      border-top: 3px solid;
      .site-header__search{
        max-width: 80%;
        margin: 0 auto;
      }
      input{
        border: 3px solid #333;
        background: 0 0;
      }
      .input-group.search-bar{
        right: 0;
      }
    }
    .button-submit-search{
      display: none;
    }
  }
  .content-box-search-mobile{
    width: 98px;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    @media (max-width: 575px){
      width: 60px;
    }
    @media (min-width: 992px){
      display: none;
    }
    svg{
      @media (max-width: 575px){
        width: 20px;
      }
    }
  }
  .box-menu-logo{
    .box-logo-search{
      border-top: 3px solid #333;
      border-right: 3px solid #333;
      height: 100%;
      .site-header__logo{
        justify-content: center;
        width: 100%;
        padding: 15px;
        @media(min-width: 768px){
        }
        @media(min-width: 992px){
          padding-right: 150px;
        }
      }
      .search-bar{
        input{
          border: 3px solid #333;
          background: transparent;
        }
      }
      img{
        @media (max-width: 575px){
          width: 70%;
        }
      }
    }
  }
  .button-submit-search{
    &:hover{
      background: transparent;
    }
  }
  .content-information-blog{
    .box-container-image-article{
      overflow: hidden;
      height: auto;
      @media(min-width: 768px){
      }
      @media(min-width: 992px){
        height: 500px;
      }
      .article__featured-image{
        img{
          object-fit: cover;
          height: auto;
          width: 100%;
          @media(min-width: 768px){
          }
          @media(min-width: 992px){
            height: 630px;
          }
        }
      }
    }
  }
  .content-full-width{
    .content-information-blog{
      .article__featured-image{
        img{
          height: auto;
          width: 100%;
          @media(min-width: 992px){
            height: 100%;
          }
        }
      }
    }
  }
  .content-newsletter{
    input{
      border-radius: 0px;
      font-family: 'Proxima Nova';
      color:#808080;
      font-size: 15px;
      border: 2px solid #000;
      background: transparent;
      @media(min-width: 768px){
        font-size: 15px;
      }
      @media(min-width: 992px){
        font-size: 15px;
      }
      &::placeholder{
        font-family: 'Proxima Nova';
        font-size: 15px;
        color: #808080;
        @media(min-width: 768px){
          font-size: 15px;
        }
        @media(min-width: 992px){
          font-size: 15px;
        }
      }
    }
    .button-send-newsletter{
      font-family: 'Tungsten Bold';
      border: 2px solid #000;
      border-left: none;
      span{
        text-transform: uppercase;
        font-size: 30px;
        line-height: 26.6px;
        @media(min-width: 768px){
          font-size: 30px;
          line-height: 26.6px;
        }
        @media(min-width: 992px){
          font-size: 30px;
          line-height: 26.6px;
        }
      }
    }
  }
}
/*========================= Footer ==============================*/
#shopify-section-footer{
  margin-right: 12px;
  margin-left: 12px;
  @media(min-width: 768px){
    margin-right: 12px;
    margin-left: 12px;
  }
  @media(min-width: 992px){
    margin-right: 0px;
    margin-left: 0px;
  }
  .page-width-padding{
    padding-left: 30px;
    padding-right: 30px;
    @media(min-width: 768px){
      padding-left: 30px;
      padding-right: 30px;
    }
    @media(min-width: 992px){
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  footer{
    .box-title-group{
      line-height: 55px;
      img{
        width: 200px;
        @media(min-width: 768px){
          width: 226px;
        }
        @media(min-width: 992px){
          width: auto;
        }
      }
      .title-newsletter{
        font-family: 'BebasNeueBold';
        font-size: 84px;
        color: #FFFFFF;
        @media(min-width: 768px){
          font-size: 84px;
        }
        @media(min-width: 992px){
          font-size: 84px;
        }
      }
      .subtitle-newsletter{
        font-family: 'Inconsolata';
        font-size: 29px;
        color: #EAEAEA;
        @media(min-width: 768px){
          font-size: 29px;
        }
        @media(min-width: 992px){
          font-size: 29px;
        }
      }
    }
    form{
      .newsletter__input{
        height: 40px;
        margin: 0;
        background: transparent;
        border: 1px solid #e5e5e5;
        border-radius: 0px;
        font-family: 'Inconsolata';
        font-size: 15px;
        color: #979797;
        @media(min-width: 768px){
          height: 40px;
          font-size: 15px;
        }
        @media(min-width: 992px){
          height: 40px;
          font-size: 15px;
        }
        &::placeholder{
          font-family: 'Inconsolata';
          font-size: 15px;
          color: #979797;
          @media(min-width: 768px){
            font-size: 15px;
          }
          @media(min-width: 992px){
            font-size: 15px;
          }
        }
      }
      .newsletter__submit{
        font-family: 'Inconsolata';
        background: transparent;
        border: 1px solid;
        font-size: 15px;
        color: #EAEAEA;
        @media(min-width: 768px){
          font-size: 15px;
        }
        @media(min-width: 992px){
          font-size: 15px;
        }
      }
    }
    .txt-write-us, .txt-follow-us{
      font-family: 'Darwin Ess Rd';
      font-size: 16px;
      letter-spacing: 4.8px;
      color: #EAEAEA;
      padding: 0px;
      @media(min-width: 768px){
        font-size: 19px;
        letter-spacing: 0px;
      }
      @media(min-width: 992px){
        font-size: 16px;
        letter-spacing: 4.8px;
      }
    }
    .box-follow-footer{
      margin-top: 38px;
      @media(min-width: 768px){
        margin-top: -30px;
      }
      @media(min-width: 992px){
        margin-top: 0px;
      }
    }
    .site-footer__linklist{
      padding: 0px;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      margin-left: 0;
      @media (min-width: 768px){
        margin-top: 40px;
        padding: 10px 0;
      }
      li:first-child{
        border-right: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        @media (min-width: 768px){
          border: none;
          flex: 0 0 auto;
          width: 12.666667%;
          text-align: left;
        }
      }
      li:nth-child(2){
        border-bottom: 1px solid #FFF;
        @media (min-width: 768px){
          border: none;
        }
      }
      li:nth-child(3){
        border-right: 1px solid #FFF;
        @media (min-width: 768px){
          border: none;
        }
      }
      li:last-child{
        border-right: none;
      }
      li{
        margin-bottom: 0;
        @media (min-width: 768px){
          border-right: 1px solid;
          text-align: center;
        }
        @media (min-width: 992px){
          border-right: none;
        }
        a{
          font-family: 'Darwin Ess Rd';
          text-decoration: none;
          font-size: 11px;
          letter-spacing: 0px;
          color: #EAEAEA;
          text-transform: uppercase;
          white-space: nowrap;
          @media(min-width: 768px){
            white-space: initial;
            font-size: 11px;
            letter-spacing: 0px;
          }
          @media(min-width: 992px){
            font-size: 14px;
            letter-spacing: 1.4px;
          }
          &:hover,&:focus,&:active{
            text-decoration: none;
          }
        }
      }
    }
    .txt-block-copyright{
      margin-top: 25px;
      .title{
        font-family: 'Inconsolata';
        font-size: 15px;
        letter-spacing: 4.5px;
        color: #EAEAEA;
        @media(min-width: 768px){
          font-size: 15px;
          letter-spacing: 4.5px;
        }
        @media(min-width: 992px){
          font-size: 15px;
          letter-spacing: 4.5px;
        }
      }
      img{
        width: 200px;
        @media(min-width: 768px){
          width: 226px;
        }
        @media(min-width: 992px){
          width: auto;
        }
      }
    }
    .txt-copyright{
      font-family: 'Proxima Nova';
      font-size: 13px;
      color: #E9E9E9;
      margin-top: 38px !important;
      @media(min-width: 768px){
        font-size: 13px;
        margin-top: -28px !important;
      }
      @media(min-width: 992px){
        font-size: 13px;
        margin-top: auto!important;
        margin-bottom: auto!important;
      }
      a{
        color: #E9E9E9;
        text-decoration: none;
        &:hover,&:focus,&:active{
          text-decoration: none;
        }
      }
    }
    .txt-block-copyright-secondary{
      border-top: 1px solid #E5E5E5;
      font-family: 'Proxima Nova';
      font-size : 10px;
      color: #808080;
      padding-top: 15px;
      @media(min-width: 768px){
        margin-top: 25px;
        font-size : 13px;
        padding-top: 25px;
      }
      .txt-copyright-end{
        color:#E9E9E9;

      }
    }
  }
}
/*========================= Footer ==============================*/
.page-width-padding{
  @media(min-width: 768px){
    padding-left: 50px;
    padding-right: 50px;
  }
  @media(min-width: 992px){
    padding-left: 50px;
    padding-right: 50px;
  }

}
/*========================= Drawer Left ==============================*/
.drawer--left {
  max-width: 100%;
  width: 100%;
  left: -100%;
  border-right: 1px solid #e9e9e9;
  @media(min-width: 1200px){
    max-width: 615px;
    width: 615px;
    left: -615px;
  }
  @media(min-width: 1500px){
    max-width: 620px;
    width: 620px;
    left: -620px;
  }
  @media(min-width: 1800px){
    max-width: 815px;
    width: 815px;
    left: -815px;
  }
}
.js-drawer-open-left .drawer--left {
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  @media(min-width: 1200px){
    -ms-transform: translateX(615px);
    -webkit-transform: translateX(615px);
    transform: translateX(615px);
  }
  @media(min-width: 1500px){
    -ms-transform: translateX(620px);
    -webkit-transform: translateX(620px);
    transform: translateX(620px);
  }
  @media(min-width: 1800px){
    -ms-transform: translateX(815px);
    -webkit-transform: translateX(815px);
    transform: translateX(815px);
  }
}
.drawer{
  background: #E6E6E6;
  padding: 0px !important;
  border: none;
  .mobile-nav>.mobile-nav__item{
    background-color: transparent;
  }
  .navbar-filters-blog-menu-drawer{
    .nosotros{
      .box-name{
        background: transparent;
        transition: all 0.5s;
        &:hover{
          background: #5C3E9A;
        }
      }

    }
    .cuerpo{
      .box-name{
        background: transparent;
        transition: all 0.5s;
        &:hover{
          background: #2EDD20;
        }
      }
    }
    .espiritu{
      .box-name{
        background: transparent;
        transition: all 0.5s;
        &:hover{
          background: #602EBC;
        }
      }
    }
    .mente{
      .box-name{
        background: transparent;
        transition: all 0.5s;
        &:hover{
          background: #FF860A;
        }
      }
    }
    .recetas{
      .box-name{
        background: transparent;
        transition: all 0.5s;
        &:hover{
          background: #2C98DB;
        }
      }
    }
    .snacks-saludables{
      .box-name{
        background: transparent;
        transition: all 0.5s;
        padding: 50px 0;
        &:hover{
          background: #FF3521;

        }
      }
    }
    .active{
      a{
        text-decoration: none;
        .box-name{
          width: 80%;
          border: 3px solid #000;
          margin: 0 auto;
          padding: 7px;
          margin-bottom: 20px;
        }
      }
    }
    li{
      a{
        font-family: 'Darwin Ess Rd';
        font-weight: bold;
        font-size: 23px;
        letter-spacing: 4.6px;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        @media(min-width: 768px){
          font-size: 23px;
          letter-spacing: 4.6px;
        }
        @media(min-width: 992px){
          font-size: 23px;
          letter-spacing: 4.6px;
        }
        @media(min-width: 1500px){
          font-size: 23px;
          letter-spacing: 4.6px;
        }
        &:hover{
          color: #FFF;
        }
        .box-name{
          width: 80%;
          border: 2px solid #000;
          margin: 0 auto;
          padding: 7px;
          margin-bottom: 20px;
        }
      }
      &.active{
        &.cuerpo{
          .box-name{
            background: #2EDD20;
          }
        }
        &.espiritu{
          .box-name{
            background: #602EBC;
          }
        }
        &.mente{
          .box-name{
            background: #FF860A;
          }
        }
        a{
          color: #FFF;
        }
      }
    }
  }
  .mobile-nav__item:after{
    content: none !important;
  }
  .mobile-nav__search{
    width: 45%;
    margin: 0 auto;
    input{
      border: 3px solid #000;
      background-color: transparent;
    }
  }
  .box-social-content{
    li{
      margin: 0px 30px;
      @media(min-width: 768px){
        margin: 0px 30px;
      }
      @media(min-width: 992px){
        margin: 0px 30px;
      }
      a{
        svg{
          @media(min-width: 992px){
            width: 25px;
          }
          @media(min-width: 1500px){
            width: 30px;
          }
        }
      }
    }
  }
  .box-legal-content{
    border-top: 3px solid #000;
    li{
      margin: 0px 40px;
      @media(min-width: 768px){
        margin: 0px 40px;
      }
      @media(min-width: 992px){
        margin: 0px 40px;
      }
      a{
        font-family: 'Darwin Ess Rd';
        font-size: 18px;
        text-decoration: none;
        color: #000000;
        &:hover{
          text-decoration: none;
        }
        @media(min-width: 768px){
          font-size: 11px;
        }
        @media(min-width: 992px){
          font-size: 11px;
        }
        @media(min-width: 1500px){
          font-size: 14px;
        }
      }
    }
  }
  .block-links-social{
    margin-top: 130px;
  }
  .box-legal-content{
    margin-top: 50px !important;
    padding: 55px 0;
  }
}
.overlay-drawer{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
  top: 0;
  display: none;
}
.js-drawer-open-left{
  .overlay-drawer{
    display: block;
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .30);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .30);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .50);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .50);
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
/*========================= Drawer Left ==============================*/
#search-page{
  .title-search{
    font-family: 'Proxima Nova';
    font-size: 25px;
    color: #000;
    @media(min-width: 768px){
      font-size: 35px;
    }
    @media(min-width: 992px){
      font-size: 35px;
    }
  }
}
#loadMore{
  .btn-loadMore{
    span{
      cursor: pointer;
      background: #000;
      font-family: 'Tungsten Bold';
      font-size: 27px;
      color: #fff;
      padding: 5px 20px;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0px;
      text-transform: uppercase;
    }
  }
}
/*====================== Cat Tag Filter =========================*/
.box-tags-cat{
  .Cuerpo{
    background: #2EDD20;
  }
  .Espiritu{
    background: #602EBC;
  }
  .Mente{
    background: #FF860A;
  }
}
.header-note-blog{
  a{
    color: #000 !important;
  }
  .ESPIRITU{
    background: transparent;
    transition: all 0.5s;
    &:hover{
      background: #602EBC;
      a{
        color: #FFF !important;
      }
    }
  }
  .CUERPO{
    background: transparent;
    transition: all 0.5s;
    &:hover{
      background: #2EDD20;
      a{
        color: #FFF !important;
      }
    }
  }
  .MENTE{
    background: transparent;
    transition: all 0.5s;
    &:hover{
      background: #FF860A;
      a{
        color: #FFF !important;
      }
    }
  }
}
.content-border{
  .content-CUERPO{
    .article__title{
      span{
        background: #2EDD20;
      }
    }
  }
  .content-MENTE{
    .article__title{
      span{
        background: #FF860A;
      }
    }
  }
  .content-ESPIRITU{
    .article__title{
      span{
        background: #602EBC;
      }
    }
  }
}
/*====================== Cat Tag Filter =========================*/
.content-page-width{
  padding: 0 15px;
  @media(min-width: 1200px){
    padding: 0px;
    width: 1170px;
    margin: 0 auto;
  }
  @media(min-width: 1300px){
    width: 1200px;
    margin: 0 auto;
  }
  @media(min-width: 1500px){
    width: 1440px;
    margin: 0 auto;
  }
}
/*====================== Carousel blog =========================*/
.content-blog{
  .carousel{
    .slick-slide{
      height: 225px; 
      @media (min-width: 576px){
        height: 200px; 
      }
      @media(min-width: 768px){
        height: 225px; 
      }
      @media(min-width: 992px){
        height: 340px; 
      }
      @media(min-width: 1200px){
        height: 450px; 
      }
    }
  }
}
.carousel__slide__inner {
  overflow: hidden;
  position: relative;
}
.doAnimation .slick-active .carousel__slide__inner .carousel__image {
  -webkit-animation: scale-out 0.875s cubic-bezier(0.7, 0, 0.3, 1) 0.375s both;
  animation: scale-out 0.875s cubic-bezier(0.7, 0, 0.3, 1) 0.375s both;
  transform: scale(1.3);
}
.carousel__slide__overlay {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.slick-active .carousel__slide__overlay {
  animation: scale-in-hor-left 1.375s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s reverse both;
}
.carousel__image {
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  transform: scale(1);
  width: 100%;
  z-index: 1;
  height: 225px; 
  @media (min-width: 576px){
    height: 200px; 
  }
  @media(min-width: 768px){
    height: 225px; 
  }
  @media(min-width: 992px){
    height: 340px; 
  }
  @media(min-width: 1200px){
    height: 450px; 
  }
}

@-webkit-keyframes scale-out {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scale-in-hor-left {
  0% {
    transform: translateX(-100%) scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  50% {
    transform: translateX(-50%) scaleX(0.5);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: translateX(0) scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    transform: translateX(-100%) scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  50% {
    transform: translateX(-50%) scaleX(0.5);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: translateX(0) scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
/*====================== Carousel blog =========================*/
.content-big-article{
  .box-container-image-article{
    height: auto !important;
  }
}
#pagination{
  li{
    &.active{
      background: #000;
      a{
        color: #FFF !important;
      }
    }
    a{
      text-decoration: none;
      color: #000;
    }
  }
}
.content-image-article-info{
  p{
    margin: 0px !important;
  }
}
/*====================== Blog recetas estilos =========================*/
.Recetas{
  .content-tags{
    margin-top: 30px !important;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    .tags-articles{
      padding: 10px 0;
      a{
        padding: 5px 10px;
        font-family: 'Darwin Ess Rd Bold';
        font-size: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }
  .header-note-blog a{
    color: #FFF !important;
  }
  .POSTRES{
    background: #11a64b;
  }
  .DESAYUNOS{
    background: #ffc300;
  }
  .SNACKS{
    background: #ff39c9;
  }
  .DRINKS{
    background: #2c95d8;
  }
  .article__title{
    a{
      color: #000000 !important;
    }
  }
}
/*====================== Blog recetas estilos =========================*/