{% layout 'theme_article_noticias' %}
<article class="content-page-width" aria-labelledby="title-0">
  <section id="columns" class="columns-container mb-5">
    <div class="container-fluid content-article p-0">
      <div class="row">
        <article id="blogpage" class="blog-detail blog-container col-12 {% if section.settings.blog-sidebar-enable %}col-lg-8{% endif %}" itemscope itemtype="http://schema.org/NewsArticle">
          <div class="container-article-element container-article-aboutus">
            <div class="container-box-general content-page-width border-0" style="background-color: {{section.settings.bg_section }}">
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-11 py-5">
                    <div class="title_lines text-uppercase w-100">Aviso de privacidad</div>
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5 column-information-first">
                            El presente Aviso de Privacidad se pone a disposición de las personas físicas (en lo sucesivo el “USUARIO”) que por cualquier
                            motivo y/o medio proporcionen a  Food News is Good News, S.A.P.I. de C.V., (en lo sucesivo “Food News”),
                            información personal, lo anterior dando cumplimiento a la Ley de Protección de
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            Datos Personales en Posesión de los Particulares, su reglamento y demás disposiciones 
                            aplicables (en lo sucesivo la “LEY”), mismo que describe la forma en 
                            que Food News utilizará los datos personales y los derechos que el USUARIO tendrá. 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4">
                    Identidad y Domicilio del responsable que los recaba
                  </div>
                  <div class="col-12 col-lg-11">
                    <div class="row justify-content-center">
                      <div class="col-12 column-information text-center py-5">
                        <p>
                          Food News is Good News, S.A.P.I. de C.V., sociedad mercantil que cuenta
                          con el nombre comercial de Food News, con domicilio en Bosques de Duraznos No. 75
                        </p>
                        <p>
                          Piso 8-802, Bosques de las Lomas, CP. 11700, Miguel Hidalgo, Ciudad de México.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4">
                    Finalidad del tratamiento de los datos
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row content-line-bottom">
                      <div class="col-12 col-lg-6  pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            <p>
                              Food News podrá solicitar datos personales y datos personales
                              sensibles al USUARIO mismos que serán sometidos al tratamiento 
                              correspondiente, los cuales se describen a continuación:
                            </p>
                            <ul>
                              <li>
                                Datos de identificación: Nombre(s); Apellido Paterno; Apellido Materno; Género; Fecha de Nacimiento; Lugar de nacimiento; Estado Civil; CURP; RFC y en su c
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            <p>
                              Número de Firma Electrónica Avanzada, así como información laboral. 
                            </p>
                            <ul>
                              <li>
                                Datos de contacto: Dirección de correo electrónico; Número de teléfono móvil y fijo; domicilio (calle, número, colonia, código postal, ciudad, Estado).
                              </li>
                              <li>
                                Datos financieros y Patrimoniales: Cuenta Bancaria, CLABE Interbancaria, número de tarjeta, historial crediticio, deuda vigente, bienes muebles e inmuebles.
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6  pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            <p>
                              Food News solicitara al USUARIO datos personales con dos tipos de finalidades, las Finalidades 
                              Primarias, corresponde al origen de la relación de servicios y contractual entre el USUARIO y
                              Food News siendo las que resultan necesarias para llevar a cabo y mantener la relación que se 
                              tendrá con el USUARIO, mientras que las Finalidades Secundarias, son todas aquellas que no cumplen
                              con la condición de las primarias, pero permiten otorgar mejores servicios y atención a los usuarios.
                            </p>
                            <p>
                              <strong>
                                Finalidades Primarias:
                              </strong>
                            </p>
                            <ul>
                              <li>
                                Establecer la relación comercial, contractual y/o de negocios.
                              </li>
                              <li>
                                Celebración de los documentos relacionados con la relación o posible relación entre Food News y el USUARIO.
                              </li>
                              <li>
                                Compra-venta de alimentos y otros productos.
                              </li>
                              <li>
                                Requerimientos de pago y/o cumplimiento de sus obligaciones. 
                              </li>
                              <li>
                                Entrega de productos y servicios requeridos.
                              </li>
                              <li>
                                Realizar gestiones de cobranza.
                              </li>
                              <li>
                                Proporcionar comprobante fiscal de pago, cuando sea solicitado.
                              </li>
                              <li>
                                Detección y prevención de fraudes.
                              </li>
                              <li>
                                Administración de la relación contractual con nuestros USUARIOS. 
                              </li>
                              <li>
                                Recibir y atender las preguntas que realizan nuestros USUARIOS, dar seguimiento y mejora a la calidad de nuestros servicios.
                              </li>
                              <li>
                                Validación de Identidad de forma directa y/o a través de terceros nacionales o extranjeros.
                              </li>
                              <li>
                                Valuación de perfil de riesgo y riesgo crediticio ya sea de forma directa y/o indirecta a través de terceros nacionales o extranjeros.
                              </li>
                              <li>
                                Ceder o enajenar, parcial o totalmente los derechos de Food News derivados de los contratos u operaciones que se hubieren celebrado con el USUARIO.
                              </li>
                              <li>
                                Ofrecer promociones, ofertas o descuentos de productos y artículos, así como, publicidad en general.
                              </li>
                              <li>
                                Aplicación de encuestas de calidad y satisfacción del servicio.
                              </li>
                            </ul>
                            <p>
                              <strong>
                                Finalidades Complementarias:
                              </strong>
                            </p>
                            <ul>
                              <li>
                                Atender quejas, sugerencias y aclaraciones, de conformidad con las Políticas Internas aplicables en cada caso.
                              </li>
                            </ul>
                            <p>
                              Food News otorga por medio del presente Aviso de Privacidad el derecho al USUARIO de manifestar su negativa respecto al uso 
                              y tratamiento de sus Datos Personales, cuando considere que la información proporcionada, 
                              no cumple cualquiera de las finalidades establecida
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            <p>
                              anteriormtente, o bien, que no es necesaria para el establecimiento de la relación contractual. <br>
                              El USUARIO deberá informar a Food News en caso de solicitar cualquier limitación relacionada con el uso de sus Datos Personales al 
                              momento en el que el presente Aviso de Privacidad sea proporcionado; en el entendido que la aceptación del presente Aviso 
                              de Privacidad o cualquier gestión para la obtención de los servicios de Food News se entiende como entera conformidad del 
                              uso de sus Datos Personales por parte del USUARIO. Lo anterior, sin perjuicio de la aplicación del Derecho de Revocación
                              de Consentimiento previamente otorgado por parte del USUARIO o bien de ejercer 
                              sus derechos de acceso, rectificación, cancelación u oposición al uso de sus Datos en términos de la LEY, derechos 
                              que en todo caso serán garantizados por Food News. <br>
                              Food News podrá obtener información sobre el USUARIO, por cualquier medio permitido por la LEY, 
                              incluyendo la obtención de manera personal o mediante plataformas electrónicas 
                              y/o páginas web de Food News. <br>
                              Food News podrá obtener información del USUARIO quien, al proporcionar sus Datos 
                              Personales, autoriza expresamente a Food News y/o su personal
                              administrativo, así como a sus Accionistas, Afiliadas o Subsidiarias, a derivar a partir de
                              la aceptación de los datos otorgados, cualquier número o clave de 
                              identificación personal directamente vinculado con la prestación del servicio y con la verificación 
                              de la identidad del USUARIO. Food News procesará y protegerá los datos del USUARIO a través de los medios digitales, 
                              técnicos y administrativos que utilice para 
                              garantizar un óptimo nivel de seguridad. <br>
                              Asimismo, Food News catalogará toda la información proporcionada por el USUARIO como estrictamente confidencial, conservándola y 
                              comprometiéndose, en la medida de lo posible, a 
                              adoptar todas las medidas de control y seguridad que se requieran para evitar cualquier alteración, 
                              uso y tratamiento indebido, pérdida y/o a proporcionar acceso
                              a terceros no autorizados. <br>
                              El USUARIO expresamente declara que, toda la información que proporcione a Food News  es  legítima, cierta  y  libre  de mala   fe  o  vicios, 
                              liberando  a  Food News  expresamente  por  este  acto  de  cualquier responsabilidad  en  relación  a  la  veracidad 
                              de  la  información  proporcionada  por  el  USUARIO,  misma que de manera enunciativa mas no limitativa podrá incluir: 
                              datos Personales, de Identificación, de contacto, laborales, patrimoniales, así como referencias personales, y cualesquiera
                              adicionales que sean requeridos por Food News para la correcta prestación de los servicios brindados al USUARIO.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4">
                    TRANSFERENCIA DE DATOS
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            <p>
                              El uso y tratamiento de los Datos Personales proporcionados
                              por el USUARIO se regirá y estará limitado por lo establecido en el 
                              presente Aviso de Privacidad, dicha información y datos serán conservados por 
                              el tiempo que determinen las disposiciones
                              legales correspondientes.
                            </p>
                            <p>
                              Food News podrá trasferir los Datos Personales proporcionados por el USUARIO en los siguientes supuestos:
                            </p>
                            <ol>
                              <li>
                                Dar cumplimiento a las disposiciones en materia de Datos Personales; 
                              </li>
                              <li>
                                Debida protección de los derechos del USUARIO; 
                              </li>
                              <li>
                                Correcto cumplimiento de las disposiciones y/o obligaciones
                                y/o derechos contraídos por medio de los servicios
                                y/o contratos celebrados entre Food News y el USUARIO; 
                              </li>
                              <li>
                                Garantía y protección de cualesquier derechos 
                                que deriven de la relación de servicios y/o
                                contractual en favor de Food News;
                              </li>
                              <li>
                                Proporcionar a terceros los documentos
                                autorizados por el USUARIO, relacionados con 
                                el cumplimiento del contrato o 
                                servicios solicitados por el USUARIO.
                              </li>
                              <li>
                                Valuación del perfil de riesgo y riesgo crediticio, 
                                ya sea de forma directa y/o a través de terceros nacionales o extranjeros.
                              </li>
                            </ol>
                            <p>
                              Para el caso de las finalidades descritas en el inciso v. anterior, 
                              el USUARIO deberá hacer del conocimiento de Food News para manifestar su negativa 
                              respecto al uso, tratamiento y transferencia de sus Datos Personales. 
                              En el evento de transferencia a terceros nacionales o extranjeros, Food News 
                              garantizará que los receptores respetarán los fines para lo cual los Datos fueron otorgados y coincidirán 
                              expresamente con las finalidades 
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            <p>
                              tratamiento de datos, descritas en el apartado denominado
                              “Finalidad del tratamiento de los datos” del presente Aviso de Privacidad, que resulten necesarias
                              para el mantenimiento
                              de la relación entre Food News con el USUARIO.
                            </p>
                            <p>
                              Adicionalmente, se hace del conocimiento del USUARIO y 
                              por este medio autoriza la transferencia de datos personales
                              a terceros nacionales y extranjeros proveedores de servicios que
                              coadyuven con algún proceso relacionado con los servicios que prestará
                              Food News al USUARIO/Cliente, durante la relación y podrá solicitar la actualización
                              de los mismos. <br>
                              Asimismo, en el ejercicio de los derechos nacidos como 
                              consecuencia del servicio, contrato u operación celebrada entre
                              Food News y el USUARIO, los Datos Personales de éste serán transferidos
                              a sus empleados, accionistas, o terceros relacionados para que presten los
                              servicios los cuales serán los estrictamente necesarios para la relación correspondiente
                              y/o el ejercicio de los derechos contractuales. En particular, incluirán la información de contacto,
                              así como cualquier información necesaria que resulte de la relación de servicios y contractual
                              celebrada entre Food News y el USUARIO, en el entendido que, los terceros podrán dedicarse, de
                              forma no limitativa, a la realización de actividades de un giro similar a Food News o estar ligadas
                              a Food News por una relación contractual. Lo anterior incluye más no se limita a accionistas,
                              entidades y dependencias gubernamentales, despachos de cobranza, entidades financieras (nacionales o extranjeras),
                              instituciones de seguros y/o fianzas, y personas físicas y morales que le presten servicios a Food News. Fuera de
                              los anteriores supuestos limitativos, el USUARIO deberá otorgar su expreso consentimiento para la transferencia
                              de sus datos personales.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4">
                    Limitación del uso, divulgación o transferencia de datos personales
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            En caso de que los Datos Personales proporcionados por el USUARIO no sean 
                            imprescindibles para el cumplimiento de las obligaciones resultantes 
                            de la relación contractual existente entre 
                            el USUARIO y Food News, el primero
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            tendrá el derecho de requerir a Food News que limite la divulgación,
                            uso y/o transferencia de dichos datos mediante solicitud 
                            expresa de conformidad con el 
                            procedimiento que se describe en el presente Aviso de Privacidad.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4">
                    Revocación de consentimiento
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            El USUARIO será responsable de la veracidad, autenticidad y 
                            vigencia de los datos proporcionados a Food News. El USUARIO tendrá derecho a acceder a sus datos 
                            personales proporcionados a Food News, a realizar correcciones a los mismos en caso de 
                            ser inexactos o incompletos, a eliminar sus datos cuando 
                            considere que no son 
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            necesarios para alguna de las finalidades señaladas en el presente Aviso de Privacidad y cuando sea legalmente procedente, así como 
                            a oponerse al uso, tratamiento y transferencia de sus datos, en términos de la LEY y las disposiciones 
                            aplicables en la materia.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4">
                    Procedimiento para limitar el uso o transferencia de Datos Personales, el ejercicio de los derechos ARCO y revocación reconocimiento
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            El USUARIO podrá limitar el uso y/o transferencia y/o ejercer sus derechos ARCO y/o revocar su 
                            consentimiento respecto al uso de sus Datos Personales, a través de solicitud expresa, 
                            la cual podrá ser presentada en escrito libre directamente al titular de la Unidad 
                            Especializada de Atención a Usuarios de Food News en el domicilio ubicado en Bosques de Duraznos No.
                            75, Piso 8-802, Bosques de las Lomas, CP. 11700, Miguel Hidalgo, Ciudad de México, o de forma
                            electrónica enviándola a la dirección de correo electrónico hola@foodnews.com dicha solicitud 
                            deberá contener los requisitos establecidos en el Artículo 29, y en su caso del Artículo 31 de la 
                            LEY de conformidad con el procedimiento para limitar el uso y el ejercicio de los derechos ARCO y/o 
                            la revocación del consentimiento para el tratamiento de sus Datos Personales. 
                            Una vez que Food News reciba la solicitud correspondiente y se acredite la identidad del titular
                            de los datos personales o en su caso del representante legal del mismo, por medio de la 
                            identificación oficial vigente y poder del representante legal, en su caso, se entregará 
                            un acuse de recibo al titular de dichos datos personales
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            que se anexara a su expediente.
                            Food News contará con 20 (veinte) días posteriores a su recepción para dar a 
                            conocer la determinación adoptada a través del mismo medio por el cual se llevó 
                            a cabo la solicitud (presencial o electrónicamente), donde Food News dará cumplimiento 
                            a la determinación de la solicitud, en caso de ser procedente, en un plazo de 15 
                            (quince) días naturales posteriores a su comunicación al USUARIO.
                            En caso de que el USUARIO obtenga de Food News la negativa a cualesquiera de los 
                            Derechos Arco, el USUARIO, podrá iniciar el proceso de protección ante el Instituto 
                            Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI), 
                            tal y como lo dispone el capítulo IX del Reglamento aplicable. Por lo anterior, y 
                            en caso de considerar que sus Derechos han sido vulnerados, podrá presentar ante el
                            INAI una solicitud de protección de datos por la respuesta recibida o  
                            falta de respuesta de Food News, dicha solicitud deberá presentarse por el titular dentro de los 15 días hábiles siguientes a la fecha en 
                            que se comunique la respuesta por parte de Food News, y se sujetará a lo previsto en la LEY.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4">
                    Procedimiento y medios de notificación de cambio en el Aviso de Privacidad
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            Cualquier cambio y/o modificación ya sea de manera total o parcial al presente Aviso de Privacidad, se dará 
                            a conocer al USUARIO por cualquiera de los siguientes medios: i) un comunicado por escrito enviado a su domicilio
                            o publicado dentro de las instalaciones de Food News; ii) un mensaje 
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-5">
                            enviado a su correo electrónico; iii) un mensaje dado a conocer a través cualquier medio electrónico 
                            que utilice para realizar operaciones con Food News, y vi) a través del sitio de internet de Food News.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>      
      </div>
    </div>
  </section>
</article>