{% layout 'theme_article' %}
<article class="content-page-width" aria-labelledby="title-0">
  <section id="columns" class="columns-container mb-5">
    <div class="container-fluid content-article p-0">
      <div class="row">
        <article id="blogpage" class="blog-detail blog-container col-12 {% if section.settings.blog-sidebar-enable %}col-lg-8{% endif %}" itemscope itemtype="http://schema.org/NewsArticle">
          <div class="container-article-element container-article-aboutus">
            <div class="container-box-general content-page-width border-0" style="background-color: {{section.settings.bg_section }}">
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-11 py-5">
                    <div class="title_lines text-uppercase w-100 text-center">TÉRMINOS Y CONDICIONES PARA LA PRESTACIÓN DE SERVICIOS DE PROMOCIÓN Y COLABORACIÓN</div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4 text-uppercase">
                    primera
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row content-line-bottom">
                      <div class="col-12 col-lg-6  pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify py-3 py-lg-5">
                            <p class="mb-0">
                              El Embajador y/o el Promotor, indistintamente, prestará a la empresa Food News is Good News, S.A.P.I. de C.V. (la “Empresa” y junto con el Promotor las “Partes”), los servicios de promoción de ventas (los “Servicios”) de los productos de la Empresa (en adelante los “Productos”), los cuales se regirán por los términos y condiciones siguientes:
                              <br> 1.	A través de la página web de la Empresa, foodnews.com.mx, se creará un código único para el Promotor.<br>
                              2.	Dicho código otorgará un 10% de descuento a quien lo use en la página web: foodnews.com.mx y generará una comisión del 10%  para el Promotor, propietario del código
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify pb-3 py-lg-5">
                            <p>
                              3.	Dependiendo de las ventas que se vayan realizando con el código del Promotor, la comisión se irá acumulando durante todo el mes y se le depositará el total al Promotor durante la primera semana del mes siguiente.<br>
                              4.	Adicionalmente, la Empresa generará formatos de Instagram stories y WhatsApp, los cuales estarán disponibles en la página web, para que los Promotores puedan compartirlos en sus redes y grupos, promoviendo la venta de los Productos.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4 text-uppercase">
                    segunda
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6  pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  py-3 py-lg-5">
                            <p class="mb-0">
                              El Promotor, recibirá el 10% de comisión por cada venta realizada con su código único, por usuario, una vez completado el registro en la página web. 
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  pb-3 py-lg-5">
                            <p>
                             La comisión se irá acumulando en la cuenta de cada  Embajador, al que podrá acceder con su cuenta y contraseña generada al momento del registro en la página web. 
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4 text-uppercase">
                    tercera
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  py-3 py-lg-5">
                            <p class="mb-0">
                              Las comisiones podrán liberarse y transferirse a la cuenta de banco de preferencia
                              del usuario una vez que haya alcanzado un mínimo de $5,000.00 (mil pesos 00/100). 
                              El usuario deberá contar forzosamente con clave de R.F.C. (clave de registro federal de contribuyentes) 
                              para poder ser Embajador de marca y colaborar con la Empresa mediante el presente mecanismo. 
                              
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  pb-3 py-lg-5">
                            <p>
                              La Empresa presentará al S.A.T. (Sistema de Administración Tributaria) dicho pago de comisión 
                              bajo el concepto de “asimilados a salarios variables”, descontando del pago de la comisión la cantidad correspondiente al I.S.R.
                               (Impuesto sobre la Renta), que la misma Empresa será responsable de pagar directamente al S.A.T. Una vez solicitado el pago de la comisión a través de la página web, y habiendo ingresado los datos de R.F.C. y cuenta bancaria, el usuario recibirá la transferencia correspondiente dentro de los siguiente 3 a 5 días hábiles.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4 text-uppercase">
                    cuarta
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  py-3 py-lg-5">
                            El Promotor se compromete a desempeñar los Servicios en forma personal e independiente,
                            sin horario establecido, reconociendo que no existe ni existirá en ningún momento ningún
                            vínculo ni relación laboral, ni de subordinación de ningún tipo con la Empresa. 
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  pb-3 py-lg-5">
                             En este sentido, la Empresa no tendrá relación laboral alguna con
                            el Promotor o con la gente en la que, en su caso, se apoye el Promotor para impulsar las ventas de los Productos.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4 text-uppercase">
                    quinta
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  py-3 py-lg-5">
                            La prestación de los Servicios tendrá una vigencia indefinida, ya que el Promotor únicamente desempeñará los
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  pb-3 py-lg-5">
                             Servicios bajo el esquema de pago de comisión, por cada venta que efectivamente cierre a favor de la Empresa.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4 text-uppercase">
                    sexta
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                            <div class="col-12 column-information text-justify  py-3 py-lg-5">
                            El Promotor reconoce que las marcas, imágenes, logos, diseños y 
                              cualquier otro signo distintivo que se encuentre, o forme parte de
                              los Productos, es y será propiedad de la Empresa, por lo que el Promotor únicamente podrá hacer uso de ellos bajo los términos y condiciones de la prestación de Servicios
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  pb-3 py-lg-5">
                            documentada en los presentes términos y condiciones, y por ningún motivo para algún fin distinto.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 column-information-strong text-center py-4 text-uppercase">
                    séptima
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                          <div class="col-12 column-information text-justify  py-3 py-lg-5">
                            El Promotor reconoce que toda la información que llegare a intercambiar 
                            con la Empresa, ya sea de forma oral, escrita, o por cualquier otro medio,
                            como consecuencia de los Servicios y/o de los Productos, deberá ser considerada 
                            como Información Confidencial, por lo que se obliga a no divulgarla, transmitirla, revelarla, comunicarla o usarla en beneficio propio o de cualquier otra persona o
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                            <div class="col-12 column-information text-justify  pb-3 py-lg-5">
                             fines distintos a los establecidos en el presente documento, durante la vigencia de la prestación de los Servicios o con posterioridad a ella, salvo que exista autorización expresa y por escrito de la Empresa.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-12 col-lg-8 column-information-strong text-center py-4 text-uppercase">
                    Octava
                  </div>
                  <div class="col-12 col-lg-10">
                    <div class="row">
                      <div class="col-12 col-lg-6 pe-lg-4">
                        <div class="row justify-content-center">
                            <div class="col-12 column-information text-justify  py-3 py-lg-5">
                            Las Partes acuerdan que, en caso de presentarse disputas o 
                              conflictos en relación a la interpretación de los presentes términos y condiciones, 
                              tratarán de resolverlos de forma amistosa a través de la mediación y/o conciliación voluntaria. De continuar la controversia, las Partes se someterán voluntaria y expresamente a la jurisdicción de los tribunales
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 ps-lg-4">
                        <div class="row justify-content-center">
                            <div class="col-12 column-information text-justify  pb-3 py-lg-5">
                             competentes de la Ciudad de México, México, renunciando a cualquier otro fuero que, por motivo de domicilio, o cualquier otro, les pudiere aplicar.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </article>      
      </div>
    </div>
  </section>
</article>