{% layout 'theme_article' %}
<style>
  #proximamente header{
    display: none;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-lg-0">

      <img src="https://cdn.shopify.com/s/files/1/0580/1695/6589/files/FOOD_NEWS_-_ECOM_-_CONSTRUCTION-02.jpg?v=1629158747" class="d-none d-lg-block w-100 img-fluid">
      <img src="https://cdn.shopify.com/s/files/1/0580/1695/6589/files/FOOD_NEWS_-_ECOM_-_CONSTRUCTION-03.jpg?v=1629158746" class="d-block d-lg-none w-100 img-fluid">
    </div>
  </div>

</div>